<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564179084894-6d0gf7q3chcgtl3s9asv8dea6fdfadgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564179084894-6d0gf7q3chcgtl3s9asv8dea6fdfadgp</string>
	<key>API_KEY</key>
	<string>AIzaSyBnNO4414NNfeghxNVt0flSBCfYDLwhoD8</string>
	<key>GCM_SENDER_ID</key>
	<string>564179084894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nicsickApp</string>
	<key>PROJECT_ID</key>
	<string>nicsick</string>
	<key>STORAGE_BUCKET</key>
	<string>nicsick.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564179084894:ios:a99ecd05a5d024da2f36cf</string>
</dict>
</plist>